<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.transactionsTracker.mappers.TransactionMapper">

    <select id="findTransactionForFilter" parameterType="org.transactionsTracker.model.TransactionsFilter"
            resultType="org.transactionsTracker.model.Transaction">
        SELECT * FROM transaction
        <where>
            <if test="comment != null and comment != ''">
                AND comment = #{comment}
            </if>
            <if test="amount != null">
                AND amount = #{amount}
            </if>
            <if test="startDate != null">
                AND date >= #{startDate}
            </if>
            <if test="endDate != null">
                AND date &lt;= CONCAT(#{endDate}, ' 23:59:59')
            </if>
        </where>
    </select>

    <insert id="insertTransactions" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO transaction (amount, comment, date)
        VALUES
        <foreach collection="list" item="transaction" separator=",">
            (#{transaction.amount}, #{transaction.comment}, #{transaction.date})
        </foreach>
    </insert>

</mapper>
